* {
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(#1daef4, #E1E2D4, #ff131a);
}

h2 {
	text-align: center;
}

input {
	padding: 5px 10px;
	margin: 15px 0px;
}

#capa h1 {
	font-size: 60px;
	letter-spacing: 15px;
	font-family: "Lucida Handwriting", Cursive;
	text-shadow: black  0px 3px 3px;
}

#capa {
	float: left;
	width: 50%;
	height: 648px;
	text-align: center;
	line-height: 300px;
	color: #4B4747;
}

#login {
	float: right;
	width: 49%;
	height: 648px;
}

#formulario {
	margin: 10px;
}

#box-formulario {
	opacity: 65%;
	padding: 15px;
	width: 350px;
	background: #E1E2D4;
	border-radius: 10px;
	display: block;
	position: relative;
	top: 175px;
	left: 180px;
}

.clear {
	clear: both;
}

.borda-submit {
	border-radius: 10px;
	float: right;
}
